<div class="card mt-1 w-100">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                Here goes text
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <button class="btn btn-light btn-sm" (click)="triggerModal(editModal)"><span class="fa fa-edit"></span></button>
                    <button class="btn btn-light btn-sm" (click)="triggerModal(deleteModal)"> <span class="fa fa-trash"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteModal let-modal>
    Delete
</ng-template>

<ng-template #editModal let-modal>
    Edit
</ng-template>