<div class="wrapper fadeInDown">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9" *ngIf="appointmentDays; else lazyloading">
                <app-calendarcontainer [appointments]="appointmentDays" (dateEvent)="setTodayAppointment($event)" #calendar></app-calendarcontainer>
            </div>
            <div class="col-sm fadeIn first">
                <div class="container">
                    <app-clock></app-clock>
                </div>
                <a *ngIf="!showmore; else showless" type="button" (click)="showMore()" style="color: var(--primary-color);"><span class="fa fa-plus"></span> More</a>
                <ng-template #showless>
                    <a type="button" style="color: var(--primary-color);" (click)="showMore()"><span class="fa fa-minus"></span> Less</a>
                </ng-template>

                <div *ngIf="appointments; else lazyloading">
                    <div *ngIf="showmore; else dateAppointment">
                        <div *ngFor="let appointment of appointments">
                            <app-buttons-appointment (deleteEvent)="removeAppointment($event)" (editEvent)="editAppointment($event)" [appointment]="appointment"></app-buttons-appointment>
                        </div>
                    </div>
                    <ng-template #dateAppointment>
                        <div *ngFor="let appointment of todayAppointment">
                            <app-buttons-appointment (deleteEvent)="removeAppointment($event)" (editEvent)="editAppointment($event)" [appointment]="appointment"></app-buttons-appointment>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <ng-template #createModal let-modal>
        <div class="card">
            <div class="d-flex mb-3">
                <a class="btn close-btn" (click)="modalClose()"><span class="fa fa-times"></span></a>
            </div>
            <div class="card-body">
                <app-appointment (saveEvent)="addAppointment($event)" (closeEvent)="modalClose()"></app-appointment>
            </div>
        </div>
    </ng-template>

    <ng-template #userModal let-modal>
        <app-userinfo [user]="user" (closeEvent)="modalClose()" (setUser)="setUser($event)"></app-userinfo>
    </ng-template>
</div>

<ng-template #lazyloading>
    Loading...
</ng-template>

<div class="float-right-bottom fadeIn first">
    <div class="d-flex flex-column-reverse">
        <app-floating [icon]="'fa fa-plus'" (eventFunction)="clickAdd()"></app-floating>
        <app-floating [icon]="'fa fa-sign-out-alt'" (eventFunction)="clickSignOut()"></app-floating>
        <app-floating [icon]="'fa fa-user'" (eventFunction)="clickUser()"></app-floating>
    </div>
</div>