:root {
    --primary-color: rgb(0, 120, 233);
    --primary-white: rgb(255, 255, 255);
    --simple-margin: 0.5rem;
    --text-base-color: rgb(37, 37, 37);
}

* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: var(--text-base-color); */
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

*:focus {
    outline: none;
}

body {
    height: 100vh;
}

a {
    color: var(--primary-color);
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 5px;
    transition: all .3s ease;
}

::-webkit-scrollbar:before {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: rgb(146, 146, 146);
    border-radius: 5px;
    transition: all .3s ease;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: rgb(56, 56, 56);
    filter: drop-shadow(45%);
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}


/* .bg-gradient-primary {
    background: var(--primary-color);
    background: linear-gradient(45deg, var(--primary-color) 35%, var(--prmary-white) 100%);
} */

.card {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px; */
    padding: 30px;
    width: 100%;
    max-width: 600px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

.card,
.card-header {
    background: #fff;
}

.card-header {
    border-bottom: 0px;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    padding: 25px 0 0 0;
}

.card-footer {
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
}

.card-header,
.card-footer {
    text-align: center;
}


/* 
.card-width {
    max-width: 500px;
} */

.container {
    padding-top: var(--simple-margin);
    padding-bottom: var(--simple-margin);
}

.form-group {
    margin-top: var(--simple-margin);
    margin-bottom: var(--simple-margin);
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="email"],
.form-group input[type="time"],
.form-group input[type="date"],
.form-group input[type="datetime"],
.form-group input[type="password"],
.form-group input[type="datetime-local"] {
    border: 1px solid transparent;
    border-radius: 0%;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="email"],
.form-group input[type="time"],
.form-group input[type="date"],
.form-group input[type="datetime"],
.form-group input[type="datetime-local"],
.form-group input[type="password"],
.form-group textarea,
.form-group select {
    transition: all .3s ease;
}

.form-group textarea:focus,
.form-group select:focus {
    border-radius: 0.25rem;
    border: 1px solid var(--primary-color);
}

.form-group textarea:focus,
.form-group select:focus,
.form-group input:focus {
    box-shadow: none;
    border-bottom: 1px solid var(--primary-color);
}

.btn {
    transition: all .3s ease;
}

.btn span {
    color: var(--primary-white)
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus>span,
.btn-primary:active>span,
.btn-primary:hover>span {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: var(--prmary-white);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-block {
    width: 100%;
}

.btn-float {
    margin: 10px;
    border-radius: 100%;
    box-shadow: 0px 0px 0.1rem #000;
    transition: all .3s ease;
}

.btn-float:hover {
    border-radius: 100%;
    box-shadow: 0px 0px 0.25rem #000;
}

.float-right-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
}

.routerLink {
    text-decoration: none;
    color: var(--primary-color);
    transition: .3s all ease;
}

.routerLink:hover {
    filter: brightness(80%);
}

.close-btn {
    border: none;
    position: absolute;
    margin: 0;
    transition: all .3 ease;
}

.close-btn span {
    color: var(--text-base-color);
    transition: all .3 ease;
}

.close-btn:hover>span {
    color: var(--primary-color);
}


/* Animations */

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}