<div class="wrapper bg-gradient-primary">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- <div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic praesentium autem maxime itaque eveniet illum, expedita blanditiis enim dolore eos. Odit perspiciatis rem veniam eum laboriosam praesentium culpa officia?
            </div>
            <div class="col-md">
                <app-calendarcontainer></app-calendarcontainer>
            </div>
        </div>
    </div>
    <app-floating></app-floating>
</div> -->