* {
    outline: none !important
}

.calendar {
    margin: 1rem;
}

.day-of-week,
.date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0.25rem;
}

.day-of-week {
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    text-align: center;
}

.day-of-week h3,
.day-of-week h4,
.day-of-week h5,
.day-of-week h6 {
    margin: 0.25rem;
}

.day,
.today {
    height: auto;
    display: block;
    position: relative;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
}

.today {
    background-color: rgb(156 156 156);
    border-radius: 100%;
    color: var(--primary-text-color);
}

.day-container:hover>.today,
.day-container:hover>.day {
    opacity: 100%;
    cursor: pointer;
    border-radius: 100%;
}

.day-container:hover>.day {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.day-container:hover>.today {
    background-color: rgb(75, 75, 75);
}

.day-container .day span,
.day-container .today span {
    font-size: 1.5rem;
    margin: 25% 0;
}

.month-indicator {
    text-align: center;
}