* {
    outline: none !important
}

.calendar {
    margin: 1rem;
}

.day-of-week,
.date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0.25rem;
}

.day-of-week {
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    text-align: center;
}

.day-of-week h3,
.day-of-week h4,
.day-of-week h5,
.day-of-week h6 {
    margin: 0.25rem;
    color: var(--primary-white);
}

.day,
.today {
    width: 100%;
    height: auto;
    position: relative;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
}

.today {
    background-color: rgba(66, 66, 66, 0.5);
    border-radius: 100%;
    color: var(--primary-text-color);
}

.day-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.day-container:hover>.today,
.day-container:hover>.day {
    opacity: 100%;
    cursor: pointer;
    border-radius: 100%;
}

.day-container:hover>.day {
    background-color: var(--primary-color);
    color: var(--primary-white);
}

.day-container:hover>.day .dot {
    background-color: var(--primary-white);
}

.day-container:hover>.today {
    background-color: rgb(75, 75, 75);
    color: var(--primary-white);
}

.day-container:hover>.day span,
.day-container:hover>.today span {
    color: var(--primary-white);
}

.day-container:hover>.dot span {
    background-color: var(--primary-white);
}

.day span,
.today span {
    font-size: 1.5rem;
    margin: 25% 25%;
}

.day span {
    color: var(--text-base-color);
}

.today span {
    color: var(--primary-white);
}

.month-indicator {
    text-align: center;
}

.today .dot {
    background-color: var(--primary-white);
}

.dot {
    height: 5px;
    width: 5px;
    background-color: var(--text-base-color);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 0px;
}