<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md">
                <app-calendarcontainer></app-calendarcontainer>
            </div>
            <div class="col-md-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic praesentium autem maxime itaque eveniet illum, expedita blanditiis enim dolore eos. Odit perspiciatis rem veniam eum laboriosam praesentium culpa officia?
            </div>
        </div>
    </div>
    <div class="float-right-bottom">
        <div class="d-flex flex-column-reverse">
            <app-floating [icon]="'fa fa-plus'" (eventFunction)="clickAdd()"></app-floating>
            <app-floating [icon]="'fa fa-sign-out-alt'" (eventFunction)="clickSignOut()"></app-floating>
            <app-floating [icon]="'fa fa-user'" (eventFunction)="clickUser()"></app-floating>
        </div>
    </div>

    <div>
        {{message}}
    </div>

    <ng-template #createModal let-modal>
        <div class="card">
            <div class="card-body">
                Here goes the addition form
            </div>
        </div>
    </ng-template>

    <ng-template #userModal let-modal>
        <div class="card">
            <div class="card-body">
                <app-userinfo></app-userinfo>
            </div>
        </div>
    </ng-template>

    <ng-template #exampleModal let-modal>
        <div class="card">
            <div class="card-body">
                Here goes the addition form
            </div>
        </div>
    </ng-template>
</div>