<div class="wrapper fadeInDown" *ngIf="appointmentDays; else lazyloading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9">
                <app-calendarcontainer [appointments]="appointmentDays"></app-calendarcontainer>
            </div>
            <div class="col-sm fadeIn first">
                <div class="container">
                    <app-clock></app-clock>
                </div>
                <div *ngFor="let appointment of appointments">
                    <app-buttons-appointment (deleteEvent)="removeAppointment($event)" (editEvent)="editAppointment($event)" [appointment]="appointment"></app-buttons-appointment>
                </div>
            </div>
        </div>
    </div>

    <ng-template #createModal let-modal>
        <div class="card">
            <div class="d-flex mb-3">
                <a class="btn close-btn" (click)="modalClose()"><span class="fa fa-times"></span></a>
            </div>
            <div class="card-body">
                <app-appointment (closeEvent)="modalClose()"></app-appointment>
            </div>
        </div>
    </ng-template>

    <ng-template #userModal let-modal>
        <app-userinfo [user]="user" (closeEvent)="modalClose()"></app-userinfo>
    </ng-template>
</div>

<ng-template #lazyloading>
    Loading...
</ng-template>

<div class="float-right-bottom fadeIn first">
    <div class="d-flex flex-column-reverse">
        <app-floating [icon]="'fa fa-plus'" (eventFunction)="clickAdd()"></app-floating>
        <app-floating [icon]="'fa fa-sign-out-alt'" (eventFunction)="clickSignOut()"></app-floating>
        <app-floating [icon]="'fa fa-user'" (eventFunction)="clickUser()"></app-floating>
    </div>
</div>