<div class="wrapper fadeInDown">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9">
                <app-calendarcontainer></app-calendarcontainer>
            </div>
            <div class="col-sm fadeIn first">
                <div class="container">
                    <h4>5:00</h4>
                </div>
                <app-buttons-appointment></app-buttons-appointment>
            </div>
        </div>
    </div>

    <ng-template #createModal let-modal>
        <div class="card">
            <a class="btn close-btn" (click)="modal.close()"><span class="fa fa-times"></span></a>
            <div class="card-body">
                <app-appointment></app-appointment>
            </div>
        </div>
    </ng-template>

    <ng-template #userModal let-modal>
        <app-userinfo (closeEvent)="modalClose()"></app-userinfo>
    </ng-template>
</div>

<div class="float-right-bottom fadeIn first">
    <div class="d-flex flex-column-reverse">
        <app-floating [icon]="'fa fa-plus'" (eventFunction)="clickAdd()"></app-floating>
        <app-floating [icon]="'fa fa-sign-out-alt'" (eventFunction)="clickSignOut()"></app-floating>
        <app-floating [icon]="'fa fa-user'" (eventFunction)="clickUser()"></app-floating>
    </div>
</div>