<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Hello! I'm an angular example</h4>
        </div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque saepe veritatis nulla voluptatibus dolor laboriosam consequuntur, ratione perferendis. Voluptatem iusto enim rem, ullam tempore magnam earum praesentium id doloribus pariatur.</p>
        </div>
        <div class="card-footer">
            <a href="/signin" class="btn btn-primary btn-block">Sign out</a>
        </div>
    </div>
</div>